# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Execute Gradle Test for Lab 1
        run: ./gradlew test -p Lab_1
      - name: Execute Gradle Test for Lab 2
        run: ./gradlew test -p Lab_2
      - name: Execute Gradle Test for Lab 3
        run: ./gradlew test -p Lab_3
      